<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.mapper.MovieListMapper">


<select id="readData" parameterType="String" resultType="com.finalProject.dto.MovieListDTO">
	select num,name,S_F_N,O_F_N,vcnum from FP_MOVIE 
</select>

</mapper>